In [3]:
import sqlalchemy as db
from getpass import getpass
import pandas as pd

In [4]:
password = getpass ("Mysql Password: ")

Mysql Password: ········

In [5]:
dbname = "Books"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbname}"

In [6]:
engine = db.create_engine(connectionData)
print("Connected to server!")

Connected to server!

In [8]:
df = pd.read_sql_query ("""SELECT titles.title_id AS 'Title ID', titleauthor.au_id AS 'AuthorID' , (titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100) AS 'sales_royalty' 

FROM titleauthor
INNER JOIN titles
	ON titleauthor.title_id = titles.title_id
INNER JOIN sales
	ON sales.title_id = titles.title_id
    """ , engine)
df

   Title ID     AuthorID  sales_royalty
0    BU1032  213-46-8915          3.998
1    BU1032  409-56-7008          5.997
2    PS2091  899-46-2035          1.971
3    PS2091  998-72-3567          1.971
4    PC8888  427-17-2319         50.000
5    PC8888  846-92-7186         50.000
6    PS2091  899-46-2035         49.275
7    PS2091  998-72-3567         49.275
8    PS2091  899-46-2035          6.570
9    PS2091  998-72-3567          6.570
10   TC3218  807-91-6654         83.800
11   TC4203  648-92-1872         33.460
12   TC7777  267-41-2394          8.994
13   TC7777  472-27-2349          8.994
14   TC7777  672-71-3249         11.992
15   PS2091  899-46-2035         13.140
16   PS2091  998-72-3567         13.140
17   MC3021  722-51-5454         13.455
18   MC3021  899-46-2035          4.485
19   PS1372  724-80-9391         10.795
20   PS1372  756-30-7391         32.385
21   PS2106  998-72-3567         17.500
22   PS3333  172-32-1176         29.985
23   PS7777  486-29-1786         19.975
24   BU7832  274-80-9391         29.985
25   MC2222  712-45-1867         23.988
26   BU2075  213-46-8915         25.116
27   MC3021  722-51-5454          8.073
28   MC3021  899-46-2035          2.691
29   BU1032  213-46-8915          7.996
30   BU1032  409-56-7008         11.994
31   BU1111  267-41-2394         11.950
32   BU1111  724-80-9391         17.925
33   PC1035  238-95-7766        110.160