In [18]:
import sqlalchemy as db
import getpass

In [25]:
user = "root"
password = getpass.getpass("Insert password: ")
connectionURI = f"mysql+pymysql://{user}:{password}@localhost/labselectmysql"

Insert password: ········

In [26]:
engine = db.create_engine(connectionURI)
print("Connected to server!")

Connected to server!

In [27]:
import pandas as pd

In [30]:
df = pd.read_sql_query("""SELECT

a.au_id as "AUTHOR ID",
au_lname as "LAST NAME",
au_fname as "FIRST NAME",
t.title as "TITLE",
p.pub_name as "PUBLISHER"

from authors as a 
left join titleauthor as ti on a.au_id = ti.au_id
left join titles as t on t.title_id  = ti.title_id
left join publishers as p on t.pub_id = p.pub_id;
""",engine)
df

,AUTHOR ID,LAST NAME,FIRST NAME,TITLE,PUBLISHER
0,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
1,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
2,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
3,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
4,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
5,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
6,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
7,341-22-1782,Smith,Meander,None,None
8,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
9,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
10,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
11,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
12,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
13,527-72-3246,Greene,Morningstar,None,None
14,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
15,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley
16,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
17,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
18,724-08-9931,Stringer,Dirk,None,None
19,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
20,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
21,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
22,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
23,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
24,893-72-1158,McBadden,Heather,None,None
25,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
26,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
27,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
28,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books

In [38]:
df = pd.read_sql_query("""SELECT

a.au_id as "AUTHOR ID",
au_lname as "LAST NAME",
au_fname as "FIRST NAME",
p.pub_name as "PUBLISHER",
count(t.title) as "TITLE COUNT"

from authors as a 
left join titleauthor as ti on a.au_id = ti.au_id
left join titles as t on t.title_id  = ti.title_id
left join publishers as p on t.pub_id = p.pub_id

group by 1,2,3,4;""", engine)

df

,AUTHOR ID,LAST NAME,FIRST NAME,PUBLISHER,TITLE COUNT
0,172-32-1176,White,Johnson,New Moon Books,1
1,213-46-8915,Green,Marjorie,Algodata Infosystems,1
2,213-46-8915,Green,Marjorie,New Moon Books,1
3,238-95-7766,Carson,Cheryl,Algodata Infosystems,1
4,267-41-2394,O'Leary,Michael,Algodata Infosystems,1
5,267-41-2394,O'Leary,Michael,Binnet & Hardley,1
6,274-80-9391,Straight,Dean,Algodata Infosystems,1
7,341-22-1782,Smith,Meander,None,0
8,409-56-7008,Bennet,Abraham,Algodata Infosystems,1
9,427-17-2319,Dull,Ann,Algodata Infosystems,1
10,472-27-2349,Gringlesby,Burt,Binnet & Hardley,1
11,486-29-1786,Locksley,Charlene,Algodata Infosystems,1
12,486-29-1786,Locksley,Charlene,New Moon Books,1
13,527-72-3246,Greene,Morningstar,None,0
14,648-92-1872,Blotchet-Halls,Reginald,Binnet & Hardley,1
15,672-71-3249,Yokomoto,Akiko,Binnet & Hardley,1
16,712-45-1867,del Castillo,Innes,Binnet & Hardley,1
17,722-51-5454,DeFrance,Michel,Binnet & Hardley,1
18,724-08-9931,Stringer,Dirk,None,0
19,724-80-9391,MacFeather,Stearns,Algodata Infosystems,1
20,724-80-9391,MacFeather,Stearns,Binnet & Hardley,1
21,756-30-7391,Karsen,Livia,Binnet & Hardley,1
22,807-91-6654,Panteley,Sylvia,Binnet & Hardley,1
23,846-92-7186,Hunter,Sheryl,Algodata Infosystems,1
24,893-72-1158,McBadden,Heather,None,0
25,899-46-2035,Ringer,Anne,Binnet & Hardley,1
26,899-46-2035,Ringer,Anne,New Moon Books,1
27,998-72-3567,Ringer,Albert,New Moon Books,2

In [45]:
df = pd.read_sql_query("""select 
a.au_id as "AUTHOR ID",
au_lname AS "LAST NAME",
au_fname AS "FIRST NAME",
SUM(qty) as "TOTAL"

from authors as a 
left join titleauthor  as ta on a.au_id = ta.au_id
left join sales as s on ta.title_id = s.title_id


group by 1,2,3 
order by TOTAL desc;""",engine)
display(df.head(3))

     AUTHOR ID LAST NAME FIRST NAME  TOTAL
0  899-46-2035    Ringer       Anne  148.0
1  998-72-3567    Ringer     Albert  133.0
2  213-46-8915     Green   Marjorie   50.0

In [46]:
df = pd.read_sql_query("""select 
a.au_id as "AUTHOR ID",
au_lname AS "LAST NAME",
au_fname AS "FIRST NAME",
SUM(qty) as "TOTAL"

from authors as a 
left join titleauthor  as ta on a.au_id = ta.au_id
left join sales as s on ta.title_id = s.title_id


group by 1,2,3 
order by TOTAL desc;""",engine)
display(df)

      AUTHOR ID       LAST NAME   FIRST NAME  TOTAL
0   899-46-2035          Ringer         Anne  148.0
1   998-72-3567          Ringer       Albert  133.0
2   213-46-8915           Green     Marjorie   50.0
3   427-17-2319            Dull          Ann   50.0
4   846-92-7186          Hunter       Sheryl   50.0
5   267-41-2394         O'Leary      Michael   45.0
6   724-80-9391      MacFeather      Stearns   45.0
7   722-51-5454        DeFrance       Michel   40.0
8   807-91-6654        Panteley       Sylvia   40.0
9   238-95-7766          Carson       Cheryl   30.0
10  486-29-1786        Locksley     Charlene   25.0
11  472-27-2349      Gringlesby         Burt   20.0
12  648-92-1872  Blotchet-Halls     Reginald   20.0
13  672-71-3249        Yokomoto        Akiko   20.0
14  756-30-7391          Karsen        Livia   20.0
15  172-32-1176           White      Johnson   15.0
16  274-80-9391        Straight         Dean   15.0
17  409-56-7008          Bennet      Abraham   15.0
18  712-45-1867    del Castillo        Innes   10.0
19  341-22-1782           Smith      Meander    NaN
20  527-72-3246          Greene  Morningstar    NaN
21  724-08-9931        Stringer         Dirk    NaN
22  893-72-1158        McBadden      Heather    NaN